* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(images/donation6.jpg);
  background-size: cover;
  color: #000;
}

.header-container {
  position: absolute;
  left: 20%;
  top: 25%;
}

.header-container-inner {
  width: 80%;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 32px;
  line-height: 1.5;
  color: #fff;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #000;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}
p {
  font-size: 20px;
  margin-bottom: 30px;
}

.header-text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
  color: #fff;
}

.button {
  text-decoration: none;
  background-color: tomato;
  color: #fff;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 10px;
}
section {
  width: 960px;
  margin: 50px auto;
  margin-top: 150px;
  margin-bottom: 0;
  background-color: #fff;
  text-align: center;
}
.content-1 {
  margin-bottom: 50px;
}
.content-2 {
  margin-top: 150px;
}
.box {
  margin-top: 100px;
}
.page-link {
  font-size: 30px;
  font-weight: bolder;
  color: #343a40;
  padding: 30px 30px;
  text-decoration: none;
  height: 36px;
  width: 36px;
}
.page-link.page-link-current {
  color: tomato;
  border: 3px solid tomato;
}
.taka {
  font-size: 16px;
  margin-top: 80px;
}
hr {
  width: 80%;
  margin-bottom: 30px;
}

.plan-section {
  display: flex;
  margin-top: 10px;
}

.three-part {
  width: 30%;
  margin: 50px;
  background-color: #dde5f5;
  padding: 10px 10px;
  border-radius: 5px;
}

.icon {
  text-align: left;
}
.icon-btn {
  width: 50px;
  height: 50px;
}
.three-part p {
  color: gray;
  font-size: 16px;
  text-align: left;
}
.three-part img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.help li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

form {
  background-color: #f8f6ca;
  margin-bottom: 100px;
  padding: 20px 5px;
}

input[type="text"],
input[type="submit"] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: tomato;
  color: white;
  border: none;
}

footer {
  background-color: #000;
  padding-bottom: 30px;
}
.footer-head {
  font-size: 20px;
  font-weight: 600;
  color: orangered;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 5px;
}

.footer-para {
  font-size: 12px;
  text-align: center;
  color: #fff;
}
